// Form component Sass variables
$blue: #0059ff;
$lt-gray: #d2d2d2;
$dark-gray: #333;
$red: #e03e3e;
$green: #38a169;
$mid-gray: #a0aec0;
$lime: #84cc16;
$orange: #ed8936;
$yellow: #ecc94b;
$black: #1a202c;
$white: #ffffff;
$dark-bg: #1a202c;
$dark-bg-text: #f7fafc;
$error-color: #e53e3e;
$warning-color: #ed8936;
$success-color: #38a169;
$dark-grey: #333;
$lt-grey: #d2d2d2;
$default-font-size: 1rem;
$text-sm: 0.875rem;
$padding: 0.5rem;
$w-1-2: 50%;
$w-1-3: 33.333%;
$w-1-4: 25%;
$w-1-5: 20%;
$w-1-6: 16.666%;
$toggle-height: 34px;
$toggle-width: 60px;
$all-input-types: 'input, select, textarea';
$input-autofill: 'input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active';
$non-text-types: '[type=radio], [type=checkbox], [type=submit]';
